body {
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

button {
    width: fit-content;
    height: 20px;
    padding: 0px 8px;
}

.container {
    width: 770px;
    height: 400px;
}

.index {
    width: 770px;
    height: 40px;
    background-color: blue;
    color: white;
    font-size: 28px;
}

.itemsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.items {
    width: 255px;
    height: 190px;
    display: flex;
    flex-direction: column;
}

.itemsProper {
    display: flex;
    flex-direction: row;
}

.img {
    width: 115px;
    height: 150px;
    object-fit: contain;
    float: left
}

.itemsDetails {
    width: 140px;
    height: 100%;
}

.buttons {
    width: fit-content;
}

.costButton {
    background-color: #48adc9;
}

.detButton {
    background-color: #2d2d2d;
    color: white
}

.search {
    height: fit-content;
    width: fit-content;
    padding-top: 20px
}

.productName{
    font-weight: bold;
    font-size: 16px;
}